<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Creeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Creeper.Properties.Settings>
   <setting name="colorside" serializeAs="String">
    <value>Control</value>
   </setting>
   <setting name="colorsidedark" serializeAs="String">
    <value>45, 45, 48</value>
   </setting>
   <setting name="colortext" serializeAs="String">
    <value>81, 81, 81</value>
   </setting>
   <setting name="colortextdark" serializeAs="String">
    <value>240, 240, 240</value>
   </setting>
   <setting name="darkTheme" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="opacity" serializeAs="String">
    <value>97</value>
   </setting>
   <setting name="colorlistview" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="colorlistviewdark" serializeAs="String">
    <value>37, 37, 37</value>
   </setting>
   <setting name="colorlistviewtext" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="colorlistviewtextdark" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="connectpassword" serializeAs="String">
    <value>password</value>
   </setting>
   <setting name="IP" serializeAs="String">
    <value>127.0.0.1</value>
   </setting>
   <setting name="Port" serializeAs="String">
    <value>8848</value>
   </setting>
   <setting name="Received" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Sent" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Chinese" serializeAs="String">
    <value>False</value>
   </setting>
  </Creeper.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>